.pricing-calculations__output{
  display: flex;
  justify-content: space-between;
}

.label-text{
  font-weight: bold;
  color: rgb(197, 197, 197);
  font-size: .9rem;
}

.pricing-calculations__output--pageviews{
  text-transform: uppercase;
  align-self: center;
}

.pricing-calculations__output--price .amount{
  font-size: 2rem;
}
.pricing-calculations__output--price .amount-label{
  color: rgb(197, 197, 197);
  vertical-align: super;
  padding-left: 0.5rem;
}


.pricing-calculations__input--slider{
  width: 100%;
}


.pricing-calculations__input--billing{
  display: flex;
  justify-content: end;
  padding: 2rem;
  align-items: center;
}
.pricing-calculations__input--billing p{
  color: rgb(197, 197, 197);
  font-size: .7rem;
  padding: 1rem;
  font-weight: bold;
}