.pricing-footer{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(209, 209, 209);
  width: 100%;
}

.pricing-footer__features--list{
  list-style-type: none;
  padding-left: 1rem;
  line-height: 2rem;
}

.pricing-footer__features--list .check-mark{
  color: rgb(77, 133, 77);
  font-weight: bold;
}

.pricing-footer__button{
  align-self: center;
}

@media (max-width: 800px) {
  .pricing-footer__features--list {
    font-size: 0.8rem;
  }
}
